* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, transparent, rgba(84,74,125,0.9), rgba(255,212,82,0.6)), url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    font-size: calc(1.5vmax - 1vmin);
    text-shadow: 4px 3px 7px rgba(46,36,46,0.85);
    top: 0;
    position: absolute;
}

.container {
    margin: 0 10% 5% 10%;
}

.go-to {
    position: fixed;   
    right: 10px;    
}

#top {
    top: 20px;
    margin: 0;
}

#contact {
    bottom: 20px;
    margin: 0;
}

.startpage {
    height: 100vh;
    margin: 0;
    text-align: center;
    color: #220b38;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.startpage img {
    border-radius: 50%;
    height: 20vh;
    width: auto;
    display: block;
    margin: 20vh auto 0 auto;
    box-shadow: 13px 13px 25px 5px rgba(46,36,46,0.7);
}

.startpage img:hover {
    position: relative;
    animation: 3s roling alternate ease-in-out infinite;   
}

@keyframes roling {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h2,
h3 {
    font-variant: small-caps;
}

.startpage h2 {
    font-size: 5vmax;      
    margin-bottom: 0;
}

.startpage p {
    font-size: 2vmax; 
}

.stress {
    color: #c7902a;
}

.button {
    background-color: #c7902a;
    font-size: 1vmax;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    padding: 6px 3vw;
    margin: 20vh auto;
    box-shadow: 13px 13px 25px 5px rgba(46,36,46,0.7);
}

a {
    text-decoration: none;
    color: #220b38;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
}

ul {
    margin-left: 25px;
    text-shadow: none;
}

li {
    margin-top: 7px;
}

h2 {
    font-size: calc(3vmax - 1vmin);
    color: #c7902a;
}

h3 {
    font-size: calc(2.5vmax - 1vmin);
    margin: 4vh auto 1vh auto;
    border-bottom: 1px solid rgba(46,36,46,0.7);
    text-shadow: none;
}

h4 {
    font-size: calc(1.7vmax - 1vmin);
    margin-bottom: 2vh;
    text-shadow: none;
}

.section {
    background: rgba(34,11,56,0.3);
    padding: 1vh;
    text-align: center;
}

#details section {
    margin-top: 10vh;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flexbox > div {
    flex: 1 1 auto;
    background: rgba(199,144,42,0.3);
    margin: 0.5vmax;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding: 1vw 2vw;    
}

.flexbox > div:hover {
     background: rgba(199,144,42,0.6);     
}

#skillz > div > div {
    box-shadow: 13px 13px 25px 5px rgba(46,36,46,0.7);
    font-size: calc(1.5vmax - 1vmin);
}

#skillz > div > div:hover {
    box-shadow: 13px 13px 25px 5px rgba(46,36,46,0.95);
}

#contactme > div > div {
    background: none;    
}

.fa:hover {
    color: #8c80bd;
    text-shadow: 4px 3px 7px rgba(46,36,46,0.85);
}

