body {
    background-color: white;
    box-sizing: border-box;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#CED8E1, #A8BBCC);    
    width: 100%;
    z-index: 99;
}

header,
.logo {
    height: 5.5vw;
}

header,
nav {
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    width: auto;
}

.content {
    margin: auto 10% 5% 10%;
}

footer .flexbox {
    margin: 0 10%
}

.logo > img {
    filter: opacity(70%);
    height: 4vw;
    margin-left: 0.5em;
    margin-top: 1vw;
    width: auto;
}

nav {
    text-align: right;
    right: 0;
    width: 100%;    
}

.navbar {
    align-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    flex-flow: row wrap;
    height: inherit;
    justify-content: flex-end;
    min-height: 5vw;    
    margin-right: 10%;
    max-width: 65%;
    padding-right: 0.5vw;
}

.navbar a {
    color: white;
    flex: 0 1 auto;
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: right;
}

.navbar a:hover {
    color: #3A70A2;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    padding-left: 20px;
}

#startpage {
    background-image: url(./img-resources/home.png);    
    margin-top: 5.5vw;
}

h1 {
    align-items: center;
    font-size: calc(2vw + 1.5vh);
    justify-content: center;
    color: white;
    height: 44vw;
    display: flex;
    margin: 0;
    text-transform: uppercase;
}

.container {
    padding: 0;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

#productinformation article {
    background-image: url("./img-resources/productinfo-background.png");
}

.half-screen {
    width: 50%;
}

figure {
    height: auto;
    margin: 0;
    padding: 0;
}

.flexbox > * {
    flex: 1 1 auto;
}

.flexbox img {
    width: 100%;
    height: auto;
    display: block; /* remove extra space below image */
}

#variants img {
    width: 30%;
    height: auto;
    margin: 10% auto;
}

.function1 {
    background-image: url(./img-resources/functions1-background.png);
}

.function3 {
    background-image: url(./img-resources/functions3-background.png);
}

.function2 {
    background-image: url(./img-resources/functions2-background.png);
}

.background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article li {
    color: #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    list-style-type: none;
    line-height: 25px;
}

#no-border {
    border: none;
}

h2 {    
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

details,
ul,
table,
p,
h2 {
    font-size: 1.25vmax;
    margin: 3% 10%;
}

summary {
    color: #3A70A2;
}

#slider {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 10s slideshow infinite;
}

@keyframes slideshow {
    10% {
        left: 0;
    }

    20% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -300%;
    }

    80% {
        left: -300%;
    }

    100% {
        left: 0;
    }
}

.banner {
    background: linear-gradient(#CED8E0, #A8BBCF);
}

.banner h2 {
    color: white;
    font-size: calc(1vw + 1.5vh);
    margin: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#variants > .flexbox {
    border-bottom: 1px grey solid;
}

.two-thirds-screen {
    width: 67%;
}

.one-third-screen {
    width: 33%;
}

#variants figure {    
    height: auto;
}

#variants table {
    margin: 0;
    width: 100%;
}

.specification {
    width: 75%;
    font-weight: 700;
    text-transform: uppercase;
}

.value {
    width: 25%;
}

#sustainability h2 {
    text-align: center;
}

progress {
    width: 90%;
    height: 2em;
    margin: 10px;
}

footer {
    background: linear-gradient(#CED8E1, #A8BBCC);
    width: 100%;
    text-align: center;
    line-height: 25px;
}

footer p {
    font-size: 15px;
    height: 100%;
}

#contact {
    margin: 20px auto;
}

.address,
.social-networks {
    margin: auto;
}

.social-networks {
    font-size: 2em;    
}

i.fa-facebook-square {
    text-decoration: none;
    color: #3B5998;
}

i.fa-instagram {
    color: #E6005C;
}

i.fa-twitter {
    color: #00ACEE;
}

i.fa-linkedin {
    color: #0E76A8;
}

@media screen and (min-width: 1501px) {
    details,
    ul,
    table,
    p,
    h2 {
        font-size: 1vmax;
    }
}

@media screen and (max-width: 767px) {
    #slider {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }

    .flexbox {
        flex-direction: column;
    }

    .half-screen,
    .one-third-screen,
    .two-thirds-screen {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    details,
    ul,
    table,
    p,
    h2 {
        font-size: 2.2vmax;
    }

    #contact {
        margin: auto;
    }

    .social-networks {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 655px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }

    main.content {
        margin: 10vw 5%;
    }

    footer {
        margin-bottom: 126.4px;
    }

    header,
    .logo {
        height: 10vw;
    }

    .logo > img {
        filter: opacity(70%);
        height: 8.5vw;
    }

    nav {
        background: linear-gradient(#CED8E1, #A8BBCC);
        bottom: 0;
        height: auto;
        top: auto;
        width: 100%;
    }

    .navbar {
        align-items: center;
        align-content: center;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
        max-width: initial;
        font-size: 15px;
    }

    .navbar a {
        padding-bottom: 0;
    }
}

@media screen and (max-height: 450px) and (max-width: 655px) {
    .navbar {
        text-align: center;
        flex-flow: row wrap;
        margin: 0;
    }

    .container {
        margin-bottom: 56px;
    }
}
