body {
    background-color: white;
    box-sizing: border-box;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#CED8E1, #A8BBCC);    
    width: 100%;
    z-index: 99;
}

header,
.logo {
    height: 5.5vw;
}

header,
nav {
    position: fixed;
    top: 0;
}

.logo {
    float: left;   
    width: auto;
}

.content {
    margin: auto 10%;
}

.logo > img {
    filter: opacity(70%);
    height: 4vw;
    margin-left: 0.5em;
    margin-top: 1vw;
    width: auto;
}

nav {
    height: inherit;
    text-align: right;
    right: 0;
    width: 100%;    
}

.navbar {
    align-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    flex-flow: row wrap;
    height: inherit;
    justify-content: flex-end;
    min-height: 5vw;    
    margin-right: 10%;
    max-width: 65%;
    padding-right: 0.5vw;
}

.navbar a {
    color: white;
    flex: 0 1 auto;
    font-size: calc(0.5em + 0.5vw);
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: right;
}

.navbar a:hover {
    color: #3A70A2;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    padding-left: 20px;
}

#startpage {
    background-image: url(./img-resources/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5.5vw;
}

h1 {
    align-items: center;
    justify-content: center;
    color: white;
    height: 44vw;
    display: flex;
    font-size: 4vw;
    margin: 0;
    text-transform: uppercase;
}

.container {
    padding: 0;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

article > * {
    margin: 10%;
}

#variants article h2 {
    margin: 3% 0;
}

article > *,
#sustainability p,
#sustainability details {
    font-size: calc(1.5vh + 0.2vw);
}

#productinformation figure {
    width: 50%;
}

#productinformation article {
    width: 50%;
    background-image: url("./img-resources/productinfo-background.png");
    background-size: cover;
}

#functions > .flexbox > figure {
    width: 65%;
}

#functions > .flexbox > article {
    width: 35%;
}

figure {
    height: auto;
    margin: 0;
    padding: 0;
}

.flexbox > * {
    flex: 1 1 auto;
}

.flexbox > figure > img {
    width: 100%;
    height: 100%;
    display: block; /* remove extra space below image */
}

#variants > .flexbox > figure > img {
    width: 30%;
    height: auto;
    margin: 10% auto;
}

.function1 {
    background-image: url(./img-resources/functions1-background.png);
    background-size: cover;
}

.function3 {
    background-image: url(./img-resources/functions3-background.png);
    background-size: cover;
}

.function2 {
    background-image: url(./img-resources/functions2-background.png);
    background-size: cover;
}

article li {
    color: #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    list-style-type: none;
    line-height: 25px;
}

#no-border {
    border: none;
}

article h2 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

summary {
    color: #3A70A2;
}

#slider {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 10s slideshow infinite;
}

@keyframes slideshow {
    10% {
        left: 0;
    }

    20% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -300%;
    }

    80% {
        left: -300%;
    }

    100% {
        left: 0;
    }
}

.banner {
    background: linear-gradient(#CED8E0, #A8BBCF);
}

.banner h2 {
    color: white;
    font-size: 3vw;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#variants p {
    font-size: 1.7vh;
}

#variants > .flexbox {
    border-bottom: 1px grey solid;
}

#variants > .flexbox > article {
    width: 70%;
    margin-left: 0;
}

#variants > .flexbox > figure {
    width: 30%;
    height: auto;
}

#variants > .flexbox > article > table {
    margin: 0;
    width: 100%;
}

.specification {
    width: 75%;
    font-weight: 700;
    text-transform: uppercase;
}

.value {
    width: 25%;
}

#sustainability > .flexbox {
    background-image: none;
}

.index-box {
    width: 33%;
    text-align: center;
}

progress {
    width: 90%;
    height: 2em;
    margin: 10px;
}

footer {
    font-size: calc(1vh + 0.4vw);
    background: linear-gradient(#CED8E1, #A8BBCC);
    width: 100%;
}

footer > div {
    margin: auto 10%;
}

.table {
    display: table;
    width: 100%;
}

.table > div {
    display: table-row;
}

.table > div > div {
    display: table-cell;
    width: 33%;    
    vertical-align: middle;
}

.address {
    text-align: left;
}

.contact {
    text-align: center;
}

.social-networks {
    font-size: calc(1.3vh + 1.3vw);
    text-align: right;
}

i.fa-facebook-square {
    text-decoration: none;
    color: #3B5998;
}

i.fa-instagram {
    color: #E6005C;
}

i.fa-twitter {
    color: #00ACEE;
}

i.fa-linkedin {
    color: #0E76A8;
}

@media screen and (max-width: 767px) {
    #slider {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 655px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }

    main.content {
        margin-top: 10vw;
    }

    footer {
        margin-bottom: 102.4px;
    }

    header,
    .logo {
        height: 10vw;
    }

    .logo > img {
        filter: opacity(70%);
        height: 8.5vw;
    }

    nav {
        background: linear-gradient(#CED8E1, #A8BBCC);
        bottom: 0;
        height: auto;
        top: auto;
        width: 100%;
    }

    .navbar {
        align-items: center;
        align-content: center;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
        max-width: initial;
    }

    .navbar a {
        font-size: 0.7em;
        padding-bottom: 0;
    }
}

@media screen and (max-height: 450px) and (max-width: 655px) {
    .navbar {
        text-align: center;
        align-content: space-evenly;
        flex-flow: row wrap;
        margin: 0;
    }

    .container {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 575px) {
    .flexbox {
        flex-direction: column;
    }

    .flexbox > *,
    #productinformation > .flexbox > figure,
    #productinformation > .flexbox > article,
    #functions > .flexbox > figure,
    #functions > .flexbox > article,
    #variants > .flexbox > figure,
    #variants > .flexbox > article {
        width: 100%;
    }

    #variants > .flexbox > figure > img {
        width: 30%;
    }

    main p {
        margin-top: 20px;
    }

    #variants p {
        margin-top: 0;
    }
}

