* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(167, 167, 167, 0.568), rgba(20, 20, 20, 0.8)), url(background.jpg);
    background-size: cover;
    background-position: top;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    color: rgb(65, 62, 62);
}

header {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 20px;
    height: 110px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 3em;
    font-weight: 300;
}

.api-key-panel {
    color: rgb(65, 62, 62);
    width: 290px;
    height: 110px;
    top: 0;
    right: 20px;
    position: absolute;
    font-family: Lato;
    font-size: 20px;
    padding: 15px 0;
}

#current-api-key {
    font-family: 'Source Code Pro', monospace;
    padding: 5px 30px;
    margin-left: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

#request-api-key-button {
    padding: 10px 15px;
    background-color: rgba(255, 113, 30, 0.6);
    border: none;
    position: absolute;
    color: rgb(51, 38, 38);
    left: 163px;
    top: 60px;
    font-size: 16px;
}

#request-api-key-button:hover {
    color: rgb(247, 215, 196);
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: Lato;
    font-family: Lato;
    font-size: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

button:hover {
    font-weight: 600;
}

button:focus {
    outline: none;
}

.wrapper {
    width: 80vw;
    height: 70%;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    background-attachment: fixed;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper button {
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: none;
}

.wrapper button:hover {
    letter-spacing: 2px;
}

#status {
    background-color: lightslategrey;
    top: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    width: 600px;
}

i {
    color: rgb(32, 124, 32);
    display: inline-block;
    margin-right: 8px;
    vertical-align: text-top;
    transition: letter-spacing 0.3s;
}

#add-button {
    position: absolute;
    top: 25px;
    right: 25px;
}

#book-view {
    height: 200px;
    width: 70vw;
    position: relative;
    left: 50%;
    top: 80px;
    transform: translate(-50%);    
}

thead {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
}

tbody {
    display: block;
    height: 500px;
    width: 70vw;
    overflow: auto;
}

tr {
    width: 70vw;
}

th {
    text-align: left;
    text-transform: uppercase;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
}

.author,
.title {
    width: 28vw;
}

.id,
.actions {    
    width: 7vw;
}

td {
    padding: 10px 15px;
    border-bottom: 0.8px dotted rgb(65, 62, 62);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(29, 25, 25);
}
    
.fa-edit {
    color: rgb(184, 120, 24);
}

.fa-edit:hover {
    color: rgb(255, 166, 31);
}

.fa-trash {
    color: rgb(194, 62, 62);
}

.fa-trash:hover {
    color: rgb(255, 30, 0);
}

.form {
    display: none;
    width: 40vw;
    height: 35%;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    background-attachment: fixed;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.form input,
#status,
footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 5px;    
}

h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
}

#input-title,
#input-author {
    width: 400px;
}

#input-title {
    top: 100px;
}

#input-author {
    top: 150px;
}

#submit-button {
    background-color: rgba(255, 255, 255, 0.6);
    top: 250px;
    width: 200px;        
}

#submit-button:hover {
    background-color: aliceblue;
}

#close {
    position: fixed;
    top: -1px;
    right: 0;
    box-shadow: none;
    margin: 0;
}

#close i {
    color: rgb(87, 82, 82);
    margin: 0;
}

footer {
    bottom: 25px;
    color: rgba(255, 255, 255, 0.6);
}

footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}