body {
    background-color: white;
    box-sizing: border-box;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(#CED8E1, #A8BBCC);
    height: 3.5em;
    width: 100%;
}

header,
nav {
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    height: 3em;
    width: 9em;
}

.content {
    margin: auto 10%;
}

.logo > img {
    filter: opacity(70%);
    height: inherit;
    margin-left: 0.5em;
    margin-top: 0.3em;
    width: inherit;
}

nav {
    height: inherit;
    text-align: right;
    right: 0;
    width: 100%;
}

.navbar {
    align-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    flex-flow: row wrap;
    height: inherit;
    justify-content: flex-end;
    min-height: 3.5em;
    margin-left: calc(10% + 9em);
    margin-right: 10%;
}

.navbar a {
    color: white;
    flex: 1 1 1;
    font-size: calc(0.5em + 0.5vw);
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: right;
}

.navbar a:hover {
    color: #3A70A2;
}

a {
    text-decoration: none;
}

.startpage {
    background-image: url(home.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 44vw;
    margin-top: 3.5em;
}

.startpage h1 {
    align-items: center;
    justify-content: center;
    color: white;
    height: 44vw;
    display: flex;
    font-size: calc(0.8em + 1.5vw);
    margin: 0;
    text-transform: uppercase;
}

.container {
    padding: 0;
}

.image-text-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-image: url(background3.png);
}

.image-box {
    margin: 0;
    padding: 0;
}

.image-text-flexbox > * {
    flex: 1 1 auto;
    width: 50%;
}

.image-box > img {
    width: 100%;
    height: 100%;
}

.text-box {
    background-image: url(background.png);
    padding-top: 20px;
}

.text-box > * {
    font-size: calc(0.5em + 0.5vw);
    margin: auto 20px 3% 20px;
}

.text-box li {
    color: #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    list-style-type: none;
    line-height: 25px;
}

#no-border {
    border: none;
}

.lead {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.read-more {
    font-size: calc(0.4em + 0.5vw);
    line-height: normal;
}

summary {
    color: #3A70A2;
}

#slider {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 10s slideshow infinite;
}

@keyframes slideshow {
    10% {
        left: 0;
    }

    20% {
        left: 0;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    70% {
        left: -300%;
    }

    80% {
        left: -300%;
    }

    100% {
        left: 0;
    }
}

.banner {
    background: linear-gradient(#CED8E1, #688199);
}

.banner p {
    color: white;
    font-size: 3vw;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#variants {
    font-size: calc(0.5em + 0.5vw);
}

#variants p {
    margin-top: 5px;
}

#variant-flexbox {
    background-image: none;
    border-bottom: 1px grey solid;
}

#table-box {
    width: 60%;
    margin-bottom: 10px;
}

#variant-img-box {
    width: 39%;
    text-align: center;
}

table {
    margin: 0;
    width: 100%;
}

.specification {
    width: 75%;
    font-weight: 700;
    text-transform: uppercase;
}

.value {
    width: 25%;
}

#variants h2 {
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 0.8em;
}

#sustainability > .image-text-flexbox {
    background-image: none;
}

.index-box {
    width: 33%;
    text-align: center;
}

progress {
    width: 90%;
    height: 2em;
    margin: 10px;
}

@media screen and (max-width: 767px) {
    #slider {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 655px) {
    .content {
        margin: auto 5% ;
    }

    footer {
        margin-bottom: 144.8px;
    }

    nav {
        background: linear-gradient(#CED8E1, #A8BBCC);
        bottom: 0;
        height: auto;
        top: auto;
        width: 100%;
    }

    .navbar {
        align-items: center;
        align-content: center;
        flex-flow: column nowrap;
        height: inherit;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
    }

    .navbar a {
        font-size: 0.7em;
    }
}

@media screen and (max-height: 450px) and (max-width: 655px) {
    .navbar {
        text-align: center;
    }

    .navbar {
        align-content: space-evenly;
        flex-flow: row wrap;
        margin: 0;
    }

    .container {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 575px) {
    .image-text-flexbox {
        flex-direction: column;
    }

    .image-text-flexbox > *,
    #table-box,
    #variant-img-box {
        width: 100%;
    }

    .text-box {
        padding: 30px 0;
        background-image: url(background2.png);
    }

    p {
        margin-top: 20px;
    }
}

