body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    font-size: 1em;
    margin: auto 10%;
}

a {
    text-decoration: none;
}

header,
nav {
    position: fixed;
    top: 0;
}

header {
    background: linear-gradient(#CED8E1, #A8BBCC);
    height: auto;
    min-height: 3.5em;
    width: 100%;
}

nav {
    height: inherit;
    right: 0;
    width: 100%;
}

.logo {
    float: left;
    height: 3em;
    width: 9em;
}

.navbar {
    align-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    flex-flow: row wrap;
    height: inherit;
    justify-content: flex-end;
    min-height: 3.5em;
    margin-left: calc(10% + 9em);
    margin-right: 10%;
}

.navbar a {
    flex: 1 1 1;
    margin-left: 15px;
    padding-bottom: 4px;
    padding-left: 0;
    text-align: right;
}

.logo > img {
    height: inherit;
    margin-top: 0.3em;
    width: inherit;
}

.main-content {
    margin-top: 3.5em;
}

p {
    margin: 0;
}

@media screen and (max-width: 570px) {
    .content {
        margin: auto 5%;
    }

    nav {
        background: linear-gradient(#CED8E1, #A8BBCC);
        bottom: 0;
        height: auto;
        top: auto;
        width: 100%;
    }

    .navbar {
        align-items: center;
        align-content: center;
        flex-flow: column nowrap;
        height: inherit;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
    }
}